@tailwind base;
@tailwind components;
@tailwind utilities;

.black-overplay{
    background-color: rgba(0,0,0,0.7);
}

#root{
    margin: 0;
    padding: 0;
}
.image-overlay{
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 60%,rgba(0, 0, 0, 1));
}